<?xml version="1.0"?>
<config>
  <modules>
    <Bcare_FreeShipAlert>
      <version>0.1.0</version>
    </Bcare_FreeShipAlert>
  </modules>
  <frontend>
    <routers>
      <freeshipalert>
        <use>standard</use>
          <args>
            <module>Bcare_FreeShipAlert</module>
            <frontName>freeshipalert</frontName>
          </args>
      </freeshipalert>
    </routers>
		<layout>
		  <updates>
			<freeshipalert>
			  <file>freeshipalert.xml</file>
			</freeshipalert>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <freeshipalert>
        <class>Bcare_FreeShipAlert_Helper</class>
      </freeshipalert>
    </helpers>
	<blocks>
	  <freeshipalert>
		<class>Bcare_FreeShipAlert_Block</class>
	  </freeshipalert>
	</blocks>
  </global>
</config> 