<?xml version="1.0"?>
<config>
  <modules>
    <Magedevel_EcommerceTrack>
      <version>0.1.0</version>
    </Magedevel_EcommerceTrack>
  </modules>
  <frontend>
    <routers>
      <ecommercetrack>
        <use>standard</use>
          <args>
            <module>Magedevel_EcommerceTrack</module>
            <frontName>ecommercetrack</frontName>
          </args>
      </ecommercetrack>
    </routers>
		<layout>
		  <updates>
			<ecommercetrack>
			  <file>ecommercetrack.xml</file>
			</ecommercetrack>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ecommercetrack>
        <class>Magedevel_EcommerceTrack_Helper</class>
      </ecommercetrack>
    </helpers>
	<blocks>
	  <ecommercetrack>
		<class>Magedevel_EcommerceTrack_Block</class>
	  </ecommercetrack>
	</blocks>
  </global>
</config> 